<!DOCTYPE html>
<html>
    <body>
        <table border="1px">
            <tr>
                <td>id</td>
                <td>nome</td>
                <td>cpf</td>
            </tr>
            <%for(var i=0;i<clientes.length;i++){%>
            <tr>
                <td><%=clientes[i].id%></td>
                <td><%=clientes[i].nome%></td>
                <td><%=clientes[i].cpf%></td>
            </tr>
            <%}%>
            <tr>
            
            </tr>
        </table>
    </body>
</html>