<!DOCTYPE html>
<html>
    <body>
        <table border="1px">
            <tr>
                <td>id</td>
                <td>nome</td>
                <td>telefone</td>
            </tr>
            <%for(var i=0;i<contatos.length;i++){%>
            <tr>
                <td><%=contatos[i].id%></td>
                <td><%=contatos[i].nome%></td>
                <td><%=contatos[i].telefone%></td>
            </tr>
            <%}%>
            <tr>
            
            </tr>
        </table>
    </body>
</html>